.cart{
    background-color: #FF99004D;
    padding: 25px;
position: sticky;
top: 0;

}
.btn-clear-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    background-color: #FF3030;
    border-radius: 4px;
    color: #fff;
}